main {
	margin: auto;
	max-width: 800px;
	max-height: 500px;
	font-size: 0;
}

div {
	border: solid 1px black;
}

.green, .blue {
	display: inline-block;
	height: 200px;
	width: 49.5%;
}

.gray, .black, .orange {
	display: inline-block;
	height: 300px;
	width: 33%;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.gray {
	background-color: gray;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}